- count = 0
%table{ cellpadding: 0, cellspacing: 0 }
  %tr.header
    %th id
    %th project
    %th title
  - todos.each do |todo|
    - if (date[count] == todo.due and !date[count].nil?) || (date[count] == Date.today and date[count-1] != todo.due and !date[count].nil?)
      %tr.date
        %td{ colspan: 3 }= date[count]
      - if date[count] == Date.today and todo.due != Date.today
        %tr.today
          %td{colspan: 3}= 'NO HAY TAREAS PARA HOY'
        %tr.date
          %td{ colspan: 3 }= todo.due
          = render partial: 'row', locals: { todo: todo }
        - count += 1
      - else
        = render partial: 'row', locals: { todo: todo }
      - count += 1
    - else
      = render partial: 'row', locals: { todo: todo }
  - if count < date.count || date.count == 0
    %tr.date
      %td{ colspan: 3 }= Date.today
    %tr.today
      %td{colspan: 3}= 'NO HAY TAREAS PARA HOY'

