%h1= "TODO LIST - USABI WILL CHANGE THE WORLD!!! - #{Date.today}"
.list
  = render partial: "list", locals: { todos: @todos, date: @date }

= image_tag("pikachu.png", class: "pikachu")
= image_tag("pikachu_sleep.png", class: "pikachu-sleep")
= image_tag("sushi_cat.png", class: "sushi-cat")
