%h1= "TODO LIST - USABI WILL CHANGE THE WORLD!!! - #{Date.today}"
.list
  = render partial: "list", locals: { todos: @todos, date: @date }

= image_tag("grummy_cat.png", class: "grummy-cat")
= image_tag("sushi_cat.png", class: "sushi-cat")
